---
---

@import "bourbon/bourbon";

body {
  // font-family: 'nimbus-sans', sans-serif;
  font-family: 'proxima-nova', sans-serif;
  // font-weight: 300;
  // background-color: #F8E01E;
}

.navbar {
  min-height: 80px;
}

.navbar-nav > li > a {
  padding-top: 28px;
  padding-bottom: 28px;
}

.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
}

.navbar-brand {
  img {
    max-width: 50px;
    display: inline-block;
  }
  span {
    margin-left: 8px;
    font-family: 'cubano-sharp';
    color: black;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}