---
---

@import "bourbon/bourbon";

body {
  // font-family: 'nimbus-sans', sans-serif;
  font-family: 'proxima-nova', sans-serif;
  // font-weight: 300;
  // background-color: #F8E01E;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

@media(min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
}

.navbar-brand {
  img {
    max-width: 50px;
    display: inline-block;
  }
  span {
    margin-left: 8px;
    font-family: 'cubano-sharp';
    color: black;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.splash {
  padding: 100px 0 125px;

  background-color: #F5D76E;

  h1 {
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    font-size: 24px;
    font-weight: 300;

    max-width: 675px;
    margin: 0 auto;
  }
}

.about {
  padding: 60px 0 100px;

  h3 {
    margin-bottom: 30px;
    font-weight: 300;
    padding: 20px;

    a {
      text-decoration: underline;
    }
  }
}

.footer {
  background-color: #ECECEC;
  padding: 40px 0;

  ul {
    font-weight: 500;
    font-size: 16px;
    list-style-type: none;

    li {
      font-weight: 300;
    }
  }

  .copyright {
    font-size: 16px;
    font-weight: 500;
  }
}
